---
layout: compsci-default
page-type: homepage
title: Computer Science Notes
lang: en
---

<div class="row">

  <div class="col-xs-12 col-sm-6">
    <h2>Favorites</h2>
    <p>Some of my favorite notes.</p>
    <ul>
        {% assign favorites = site.v1 | where:"favorite", "true" %}
        {% for favorite in favorites %}
        <li>
          <a title="{{ favorite.description }}" href="{{ site.baseurl }}{{ favorite.url}}">{{ favorite.title}}</a>
        </li>
        {% endfor %}
    </ul>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h2>Categories</h2>
    <p>Categories list.</p>

    <ul>
      {% assign category_list = site.v1 | where:"layout", "compsci-category" %}
          {% for category in category_list %}
      <li>
        <a title="{{ category.description }}" href="{{ site.baseurl }}{{ category.url}}">{{ category.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
